#services:
#  api:
#    build: .
#    ports:
#      - "8000:8000"
#    restart: unless-stopped

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - ./data.json:/app/data.json:ro
